.home {
  /* display: flex; */
  background-color: bisque;
  justify-content: space-between;
}

/* .home > a {
  display: flex;
  } */

.homeUl {
  max-width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  /* background-color: burlywood; */
  justify-content: space-between;
  /* border: 1px solid green; */
}

img {
  width: 30%;
}

/* .imageContainer {
  margin: auto;
  width: 100%;
  border: 3px solid silver;
  display: flex;
}

.imgCon {
  width: 30px;
  /* padding-left: 100px; 
}

img {
  width: 10%;
} */
