.nav {
  background-color: antiquewhite;
  padding: 20px;
  padding-right: 30px;
  text-align: center;
}

.ul {
  color: black;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.ul li {
  list-style-type: none;
}
